.post-page{
    background-color: #d6d2d2;
}
#post-page a{
    color:#333;
    text-decoration: underline;
}
div.post-page h1{
    text-align: center;
    margin: 10px 0 5px;
}
div.post-page time{
    text-align: center;
    display: block;
    font-size:1rem;
    color:#aaa;
    margin: 10px 0;
}
div.post-page div.author{
    text-align: center;
    margin-bottom: 20px;
    font-size: .7rem;
    font-weight: bold;
}
div.content p{
    line-height: 1.7rem;
    margin: 30px 0;
}
div.content li{
    margin-bottom: 10px;
}
div.edit-row{
    text-align: center;
    margin-bottom: 20px;
}
div.post-page a.edit-btn{
    background-color: #494747;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    padding:15px 30px;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
}
.post-page .imageof {
    margin-bottom: 10px;
  }
  
.post-page .imageof img {
    padding: 30px;
    width: 95%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    max-height: auto;
    object-fit: cover;
  }
  .post-page .contentpart {
    margin-bottom: 20px;
    padding: 30px;
  }
  a svg{
    height:20px;
}
