.mentalinfo{
    background-color: rgb(179, 139, 217);
    display: flex;
    padding: 1rem;
    position: relative;
    height: 700px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .morinfo h1{
    color: rgb(6, 11, 68);
    justify-content: center;
    text-align: center;
    margin: 2rem;
    max-width: 550px;
    font-family: 'Times New Roman', Times, serif;
  }
  .mainimg{
    max-width: 600px ;
    max-height: 600px;
    width:100%;
    padding: 1rem;
    border-radius: 2rem;
  }
  .centered{
    display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  height: 15vh;
  font-family: Georgia, 'Times New Roman', Times, serif; }
  main{
    padding: 1rem;
    background-color: rgb(187, 183, 183);
  }
  .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product{
    border: 3px  solid;
    margin: 1rem;
    border-radius: 1rem;
    max-width: 500px;
  }
  .product img {
    width: 100%;
    max-width: 500px;
    max-height: 350px;
    justify-content: center;
    border-radius: 1rem;
  }
  .product-info{
    padding: 1rem;
    color: rgb(34, 4, 62);
  }
  .explore{
    cursor: pointer;
    background-color: rgb(219, 240, 240);
    color: rgb(33, 32, 32);
    padding: 10px;
    font-size: medium;
    border: rgb(156, 150, 150);
    border-radius: 10px;
    text-align: center;
  }