header{
    background-color: linear-gradient(to bottom right, #ffcccc, #eaf2f8, #c9d6df);
    padding: 1rem;
    display: flex;
  }
  header li{
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    text-align: center;
    margin: 1rem;
  }
  
  .image{
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    margin : 0.5 rem;
  }
  .side{
    display: inline;
    float: right;
  }