.settings {
 display: flex;
 margin: 20px;
}

.account{
 flex:9;
 padding: 20px;
}

.tittle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update{
   font-size: 30px;
   margin-bottom: 20px;
   color: lightcoral;
}
.delete{
    font-size: 12px;
    margin-bottom: 20px;
    color: red; 
}

.setform{
    display: flex;
    flex-direction: column;
}
.settingPP{
    display: flex;
    align-items: center;
    margin: 10px 0 ;
}

.settingPP > img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.Icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;   
}

.setform >label{
    font-size: 20px;
    margin-top: 20px;
    
}

.setform > input {
    color: gray;
    margin: 10 px;
    height: 30px;
    border: none;
    border-bottom: 2px solid rgb(58, 55, 55);   
}

.submit{
    width: 150px;
    align-self: center;
    border-radius: 10px;
    border: none; 
    padding: 5px;
    margin: 5px;
    color: rgb(17, 14, 14);
    background-color: rgb(170, 167, 167);
}






